* {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary-bgcolor: #158583;
    --header-color: #50742e;
    --primary-text-color: #e2e8f0;
    --pink: #f09a81;
    --yellow: #ffc914;
    --subtle-white: #e2e8f0;
    --white: #ffffff;

    --std-padding: 20px;
}

/* --- main container --- */
.container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-areas: 
        "sidebar-container header"
        "sidebar-container main";
}

/* --- sidebar-container --- */
.sidebar-container {
    grid-area: sidebar-container;
    background-color: var(--primary-bgcolor);
}

.sidebar {
    padding: var(--std-padding);
    font-size: 1rem;
    display: grid;
    gap: 50px;
    
    position: fixed;
}

.sidebar .brand {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text-color);
}

.sidebar svg {
    fill: var(--primary-text-color);
}

.logo svg {
    width: 50px;
    height: 50px;
}

.page-links svg,
.utility-links svg {
    width: 25px;
    height: 25px;
    fill: var(--primary-text-color);
}

.page-links,
.utility-links {
    color: var(--primary-text-color);
    font-weight: bold;
    padding-left: 8px;
}

.sidebar ul {
    display: grid;
    gap: 0.8rem;
}

.sidebar li {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: .8rem;
}

    /* --- header --- */
.header {
    padding: var(--std-padding) 40px var(--std-padding) 30px;

    background-color: var(--header-color);
    color: var(--primary-text-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "search-bar search-bar profile"
        "greeting greeting actions";
}

        /* header has 2 elements, nested which need to be given appropriate number of rows or columns */
.search-bar {
    grid-area: search-bar;

    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.search-bar button,
.profile button {
    display: grid;
    align-items: center;
    background-color: transparent;
    border: 0px;
}

.search-bar input[type="search"] {
    border-radius: 15px;
    border: 0px;
    width: 48vw;
    height: 30px;
    outline: none;
    padding: 10px;
}

/* search-bar overflows for widths smaller than 945 px, so decreased its size as soon as it reaches that width */
/* this could also be used by using another unit than "vw" for width of search bar */
@media (max-width: 1210px) {
    .search-bar input[type="search"] {
        width: 25vw;
    }
}

.profile {
    grid-area: profile;
    justify-self: end;
    
    display: grid;
    grid-auto-flow: column; /* extra elements on grid are given as much width as their content */
    grid-template-columns: 40px 60px;
    align-items: center;
    font-weight: bold;
}

            /* profile has further 2 elements which need to be nested because image is inline, and inline elements
                don't sit on baseline in normal block-flow */
.profile-pic img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.greeting {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 28px;
    grid-template-areas: 
        "profile-pic greeting-text";
}

.greeting .profile-pic {
    grid-area: profile-pic;
    display: grid;
    align-self: center;
}

.greeting-text {
    display: grid;
}

.greeting .hi-text {
    font-size: 0.8rem;
    font-weight: bold;
}

.greeting .user-handle {
    font-size: 1.2rem;
    font-weight: bold;
}

.greeting img {
    width: 70px;
    height: 70px;
}

.actions {
    grid-area: actions;
    align-self: center;
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.actions button {
    border: 0;
    border-radius: 20px;
    background-color: var(--primary-bgcolor);
    padding: 5px 0px;
    width: 90px;
    color: var(--primary-text-color);
    font-weight: bold;
}

/* --- main --- */
.main {
    grid-area: main;
    background-color: #17BEBB;
    padding: 30px var(--std-padding) 50px 20px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "projects-container extras";
}

    /* inside main */
.main .projects-container,
.main .announcements-container,
.main .trending-container {
    display: grid;
    grid-template-rows: 30px;
}

.projects-container {
    margin-right: 20px;
}

.projects-container .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.projects .project {
    background-color: #76B041;
    border: 5px solid white;
    
    padding: 20px 15px;
    height: 200px;
}

.main .extras {
    grid-area: extras;
    display: grid;
}

.announcements-container .announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 15px;

    gap: 15px;
}

.announcement {
    background-color: #76B041;
    border: 5px solid white;

    overflow: hidden;
    /* multi-line ellipse needs external js library */
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 15px;
    
    gap: 15px;
}

.trending .trending-item {
    background-color: #76B041;
    border: 5px solid white;
}

ul {
    list-style-type: none;
}