* {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

:root {
    --header-bgcolor: blue;
    --std-padding: 20px;
}

/* --- main container --- */

.container {
    /* maybe only use it when the height doesn't reach 100vh or width doesn't reach 100vh or overflows because of it */
    /* width: 100vw; */
    /* max-height: 100%;  */

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar-container header"
        "sidebar-container main";
}

/* sidebar */
.sidebar-container {
    grid-area: sidebar-container;
    background-color: #E4572E;
}

.sidebar {
    padding: var(--std-padding);
    display: grid;
    gap: 50px;
}

.sidebar .brand {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

/* --- header --- */
.header {
    padding: var(--std-padding) 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-areas: 
        "search-bar search-bar profile"
        "greeting greeting actions";
    /* padding and gap required to make the layout more like the provided */
}

    /* header has 2 elements, nested which need to be given appropriate number of rows or columns */
.search-bar {
    grid-area: search-bar;
}

.profile {
    grid-area: profile;
    
    display: grid;
    grid-auto-flow: column; /* extra elements on grid are given as much width as their content */
    grid-template-columns: 30px 30px;
}
        /* profile has further 2 elements which need to be nested because image is inline, and inline elements
            don't sit on baseline in normal block-flow */
.profile-pic img{
    border-radius: 50%;
}

.greeting {
    grid-area: greeting;

    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 60px;
    grid-auto-flow: column;
}

.greeting img {
    width: 100%;
    height: 100%;
}

.actions {
    grid-area: actions;
}

/* main */
.main {
    grid-area: main;
    background-color: #17BEBB;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "projects-container extras";
}

    /* inside main */
.main .projects-container,
.main .announcements-container,
.main .trending-container {
    padding: calc(var(--std-padding) / 2);
    display: grid;
    grid-template-rows: 30px;
}

.projects-container .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.projects .project {
    background-color: #76B041;
    border: 5px solid white;
    
    padding: 20px 15px;
    height: 200px;
}

.main .extras {
    grid-area: extras;
    display: grid;
}

.announcements-container .announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 15px;

    gap: 15px;
}

.announcement {
    background-color: #76B041;
    border: 5px solid white;

    overflow: hidden;
    /* multi-line ellipse needs external js library */
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 15px;
    
    gap: 15px;
}

.trending .trending-item {
    background-color: #76B041;
    border: 5px solid white;
}

ul {
    list-style-type: none;
}